.label {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: #000000de;
  margin-bottom: 8px;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #eef6fc;
  gap: 40px;
  margin-top: 16px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.innerBox {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.tableContainer {
  overflow-x: auto;
  margin-top: 40px;
}

.table {
  min-width: 100%;
  border-collapse: collapse;
}

.thead {
  background-color: #ffffff;
}

.th {
  padding: 8px;
  text-align: start;
  font-size: 18px;
  font-weight: 500;
  color: #01689b;
  text-transform: capitalize;
  cursor: pointer;
}

.th div {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.th div span {
  margin-top: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.icons {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  margin-top: 4px;
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.tbody {
  background-color: #ffffff;
}

.tbody tr:hover {
  background-color: #f9fafb;
}

.td {
  padding: 8px;
  white-space: normal;
  word-wrap: break-word;
  font-size: 18px;
  color: #000;
  max-width: 540px;
}

/* Small device adjustments */
@media (max-width: 768px) {
  .th,
  .td {
    font-size: 16px;
  }

  .label {
    font-size: 16px;
  }

  .tableContainer {
    overflow-x: auto;
    margin-top: 30px;
  }
}

@media (max-width: 450px) {
  .th,
  .td {
    font-size: 14px;
  }

  .label {
    font-size: 16px;
  }
}
