.tooltipContainer {
  position: relative;
  display: inline-block;
  right: 16.37px !important;
  top: 16.37px !important;
  max-width: 500px;
}

.tooltipContainer2 {
  position: relative;
  display: inline-block;
  right: 0 !important;
  top: 0 !important;
  max-width: 500px;
}

.tooltipIconAbsolute {
  position: absolute;
  top: 16.27px;
  right: 16.27px;
}

.infoIcon {
  color: #01689b;
  width: 26px;
  height: 26px;
  font-size: 26px;
  cursor: pointer;
}

/* Tooltip box */
.tooltip1,
.tooltip2 {
  max-width: 500px;
  width: max-content;
  background-color: #012e44;
  color: #fff;
  padding: 24px;
  border-radius: 8px;
  position: absolute;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.3s;
}

.tooltip1 {
  top: 41px;
  transform: translateX(-47.5%);
}

.tooltip2 {
  top: 60px;
  transform: translateX(-50.5%);
}

/* Triangle arrow */
.tooltipArrow {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #012e44;
}

/* Tooltip header */
.tooltipHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tooltipTitle {
  padding-top: 10px;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
}

.closeIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Tooltip text */
.tooltipText {
  font-size: 18px;
  text-align: left;
}

/* For absolute positioning tooltips */
.absolutePosition {
  left: 16.37px !important;
  top: 38px !important;
}

/* Responsive adjustments for small screens */
@media (max-width: 768px) {
  /* Font size adjustments */
  .tooltipText {
    font-size: 16px; /* Decrease from 18px */
  }

  .tooltipTitle {
    font-size: 20px; /* Decrease from 24px */
  }

  .infoIcon {
    font-size: 22px; /* Decrease slightly */
    width: 22px;
    height: 22px;
  }

  .closeIcon {
    font-size: 18px; /* Decrease slightly */
  }
}

@media (max-width: 611px) {
  .absolutePosition {
    left: -105px !important;
    top: 38px !important;
  }

  .tooltipArrow {
    left: 90%;
  }

  .tooltip1,
  .tooltip2 {
    max-width: 300px;
  }

  .tooltip1 {
    left: -114px;
  }
}
