.container {
  min-height: 100vh;
  padding: 25px 20px 80px 20px;
}

.innerContainer {
  max-width: 1280px;
  margin: 0 auto;
}

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #696969;
  margin-bottom: 40px;
}

.breadcrumbLink {
  color: #01689b;
  text-decoration: none;
}

.breadcrumbLink:hover {
  color: #333;
}

.breadcrumbIcon {
  margin: 0 12px;
  color: #c8c8c8;
  font-size: 14px;
}

.breadcrumbCurrent {
  color: #696969;
  text-decoration: none;
}

.heading1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -2%;
  color: #000;
  margin-bottom: 33px;
}

.heading2 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -2%;
  color: #000;
  margin-bottom: 30px;
}

.para1,
.para2 {
  color: #000;
  letter-spacing: -2%;
  margin-bottom: 33px;
  max-width: 858px;
}
.para1 {
  font-size: 24px;
}

.para2 {
  font-size: 18px;
}

.videoWrapper {
  max-width: 858px;
  max-height: 481px;
  margin-bottom: 71px;
}

.videoWrapper iframe {
  max-width: 858px;
  height: 481px;
}

/* Media Queries for Responsive Font Sizes */
@media screen and (max-width: 1024px) {
  .heading1 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 18px;
    margin-top: 5px;
  }

  .heading2 {
    font-size: 28px;
    margin-bottom: 18px;
    margin-top: 5px;
  }

  .para1 {
    font-size: 18px; /* Decrease paragraph size */
  }

  .para2 {
    font-size: 16px; /* Decrease paragraph size */
  }
}
@media screen and (max-width: 768px) {
  .breadcrumb {
    font-size: 14px; /* Decrease font size */
  }

  .heading1 {
    font-size: 32px; /* Decrease heading size */
  }

  .breadcrumbIcon {
    margin: 0 5px;
  }

  .videoWrapper {
    max-height: 400px;
    margin-bottom: 40px;
  }

  .videoWrapper iframe {
    height: 300px;
  }
}

@media screen and (max-width: 420px) {
  .heading1 {
    font-size: 27px;
    line-height: 30px;
  }

  .heading2 {
    font-size: 24px;
  }

  .para1,
  .para2 {
    font-size: 14px; /* Decrease paragraph size */
  }

  .videoWrapper {
    max-height: 400px;
  }

  .videoWrapper iframe {
    height: 200px;
  }
}

@media screen and (max-width: 355px) {
  .breadcrumb {
    font-size: 12px;
  }
}
