.boxes {
  display: grid;
  gap: 20px; /* Optional: space between the grid items */
  margin-bottom: 30px;
  margin-top: 7px;
  border-radius: 8px;
  overflow: hidden;
}

/* Show 4 columns on large devices */
@media (min-width: 1112px) {
  .boxes {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Show 2 columns on medium devices (below 1111px) */
@media (max-width: 1111px) {
  .boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Show 1 column on small devices */
@media (max-width: 609px) {
  .boxes {
    grid-template-columns: 1fr;
  }
}

.sidePanel {
  background-color: #eef6fc;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
}

@media (max-width: 6010px) {
  .sidePanel {
    padding-top: 155px;
    padding-bottom: 83px;
  }
}

@media (max-width: 609px) {
  .sidePanel {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.icon {
  width: 58px;
  height: 58px;
  background-color: #cce0f1;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  color: #01689b;
}

.title {
  font-weight: 700;
  color: #000;
  font-size: 18px;
  margin: 0;
  padding-bottom: 4px;
}

.link {
  color: #01689b;
  font-size: 18px;
  font-weight: 300;
  text-decoration: underline;
}

.linkIcon {
  font-size: 13px;
}

.mainContent,
.mainContentAlt {
  padding: 24px;
  flex: 1;
}

.mainContentAlt {
  background-color: #eef6fc;
}

.code {
  font-size: 16px;
  font-weight: 300;
  color: #696969;
  padding-bottom: 4px;
  margin: 0;
}

.mainTitle {
  font-weight: 700;
  color: #000;
  font-size: 18px;
  padding-bottom: 4px;
  margin: 0;
}

.mainLink {
  color: #01689b;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 300;
  display: block;
  margin-bottom: 43px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 18px;
  letter-spacing: -2%;
  color: #000;
}

.info p {
  color: #000;
  font-weight: 300;
}

/* Responsive Adjustments */
/* Medium Devices (1024px and below) */
@media screen and (max-width: 1024px) {
  .info {
    gap: 20px;
  }

  .sidePanel {
    gap: 20px;
  }

  /* Reduce font sizes from 18px to 16px */
  .link,
  .mainLink,
  .info,
  .actionButton,
  .icon {
    font-size: 16px;
  }

  /* Decrease icon width and height */
  .icon {
    width: 40px;
    height: 40px;
  }
}
