.texts {
  max-width: 1280px;
  margin: 0 auto;
}

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #696969;
  margin-bottom: 15px;
}

.breadcrumbLink {
  color: #01689b;
  text-decoration: none;
}

.breadcrumbLink:hover {
  color: #333;
}

.breadcrumbIcon {
  margin: 0 12px;
  color: #c8c8c8;
  font-size: 14px;
}

.breadcrumbCurrent {
  color: #696969;
  text-decoration: none;
}

.step {
  font-weight: 700;
  font-size: 18px;
  color: #012e44;
}

.heading1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -2%;
  color: #000;
  margin-bottom: 24px;
}

.para1,
.para2 {
  color: #000;
  letter-spacing: -2%;
  margin-bottom: 33px;
  max-width: 856px;
}
.para1 {
  font-size: 22px;
}

.para2 {
  font-size: 18px;
}

/* Media Queries for Responsive Font Sizes */
@media screen and (max-width: 1280px) {
  .cardDetail {
    gap: 25px;
  }
}

@media screen and (max-width: 768px) {
  .step {
    font-size: 16px;
  }

  .breadcrumb {
    font-size: 14px; /* Decrease font size */
  }

  .heading1 {
    font-size: 32px; /* Decrease heading size */
  }

  .para1 {
    font-size: 18px; /* Decrease paragraph size */
  }

  .para2 {
    font-size: 16px; /* Decrease paragraph size */
  }

  .breadcrumbIcon {
    margin: 0 5px;
  }
}

@media screen and (max-width: 355px) {
  .breadcrumb {
    font-size: 12px;
  }
}
